 body {
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}
 .clearFix{zoom:1;}
 .clearFix:after{content:" "; display:block; height:0;line-height:0;clear:both; visibility:hidden;}

 .chart-popup-zdf {border:1px solid #D2D7E0;background-color:white;padding:3px 8px;position:absolute;z-index:101;background-image:none;}
 .chart-popup-zdfArrow {position:absolute;border:20px solid #D2D7E0;}
 .chart-popup-zdf h5 {margin:0;color:#093d72;font-size:14px;text-transform:none;border-bottom:1px solid #ccc;padding:3px 5px 8px;clear:both;}
 .chart-popup-zdf .ccData {padding:8px 0 0;}
 .chart-popup-zdf .quote {font-weight:bold;padding:0 5px 10px;font-size:12px;float:left;color:#666;}
 .chart-popup-zdf .quote .up{color:#c6ce61;}
 .chart-popup-zdf .quote .down{color:#e67f7d;}
 .chart-popup-zdf .quote .price.down{color:#333;}
 .chart-popup-zdf .quote .price.up{color:#333;}
 .chart-popup-zdf .volDt{color:#666;font-size:12px;padding:0 5px 10px;font-weight:bold;}
 .chart-popup-zdf .volDt .vol{width:104px;text-align:left;float:left;}
 .chart-volume-nav{float:left;height:30px;width:620px;overflow: hidden;background: #ffffff;padding:5px 0 5px 0;line-height: 30px;}
 
.chart-popup-img{width:300px;display:none;} 
.chart-fly{float: left;position: absolute;overflow: hidden;padding : 10px;background: #ffffff;display:none;background: url(../../images/mom_transparentBg.png) no-repeat;}
.chartVolumeMain {float:left;overflow: hidden;background: #ffffff;margin-bottom:10px;}
.chartZdfMain{float:left;overflow: hidden;background: #ffffff;margin-top:10px;margin-bottom:10px;margin-left:8px;}

.chart-popup-img{width:250px;display:none;} 

.chart-zdf-fly{float: left;position: absolute;overflow: hidden;padding : 10px;background: #ffffff;display:none;background: url(../../images/mom_transparentBg.png) no-repeat;}

.chart-tabs-input{vertical-align:middle;margin:0;margin-top:4px;padding:0;}
.tab_imgs {width:800px;margin:0 auto;}
.sub_tabs{cursor:pointer;height:40px;}
.sub_tabs .sub_tab{float:left;width:120px;text-align:center;height:40px;line-height:40px;color:#394e8f;}
.sub_tabs .selected,
.sub_tabs div:hover{background:#EEF6FF;}
.sub_tabs .selected{cursor:pointer;}
.tab_imgs .sub_cont{zoom:1; border-top:1px solid #D2D7E0; margin-top:15px;}
.tab_imgs .sub_cont:after{content:".";display:block;height:0;font-size:0;line-height:0;visibility:hidden;clear:both;}
.tab_imgs .sub_v_tabs{margin-bottom:-1px}
.sub_v_tabs{float:left;margin-top: 10px;}

/*#chart-volume-legend{top:-61px;left:15px;}
#chart-zdf-legend{top:-46px;left:25px;}*/